<header>
    <ul>
        <li><a href="/movies"></a>Listado de peliculas</li>
        <li><a href="/actors"></a>Listado de actores</li>
        <li><a href="/genres"></a>Listado de géneros</li>
    </ul>
</header>