<ul style="display: flex;gap: 10px; list-style: none;">
    <li><a href="/movies">Listado de Peliculas</a></li>
    <li><a href="/genres">Listado de Género</a></li>
    <li><a href="/actors">Listado de Actores</a></li>
</ul>